body{
    margin: 0;
    padding: 0;    
}
.layoutheader{
    margin-top:2rem;
    padding-top:2rem;
}
.header-name{
    padding-top:2rem;
}
.titlefont,.h3{
    text-transform: uppercase;
    border-bottom:3px solid #faad14;                          
    width:15%;
}
.worktitle,.h3{
    text-transform: uppercase;
    border-bottom:3px solid #faad14;                          
    width:17.5%;
}
.hptitle{
    text-transform: uppercase;
    border-bottom:3px solid #faad14;                          
    width:10%;
}
.col2{
    border-left:2px solid #ddd;
    background-color: #fff;
}
p{
    text-align: justify;
}
.col24{
    /* background-color: #f0f2f5; */
    background-color: #ddd;
    padding: 1rem;
}
.bgper{
    background-color: #ddd;
}
.bgcol{
    background-color: #fff;
    width: 100%;
}
.bgname{
    /* background-color: red; */
    border-left: 12px solid #faad14;
    margin-top: 2rem;
    padding-left: 1rem;
    text-transform: uppercase;
}
.coliconlist{
    background-color: #fff;
    padding-left: 9rem;
    padding-top: 2rem;
    width: 100%;
}
.iconlist{
    border-bottom:0px;
    padding:0.2rem 0rem;
    justify-content:right;
}
.ant-list-split .ant-list-item {
    border-bottom: 0px solid #f0f0f0;
}
.divider{
    line-height:0px;
    text-transform:uppercase;
}
.bgdivider{
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    
}
.project{
    padding-bottom:2em;
}
.workexp{
    background-color: #fff;
}
.mainworkexp{
    
    padding-right: 3rem;
}
.colsix{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) -20px 5px 20px -20px; 
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 30px -30px; */
    /* box-shadow: rgba(0, 0, 0, 0.6) 0px 24px 28px, rgba(0, 0, 0, 0.22) 0px 0px 0px; */
}
.colsixborder{
    background-color: #fff;
    
}
.bgcolsix{
    padding: 2rem;
}
.bgheader{
    border: 1px solid red;
    background-color: #fff;
}
.boxsh {
    box-shadow: 0px 0px red, -1em 0 .4em olive;
}
.img{
    width: 52%;
}
.mainimg{
    padding-top: 3rem;
    padding-left: 4.5rem;
}
.rightimg{
    width: 30%;
    margin-left: 5rem;
    /* background-color: red; */
}
.rightimgplant{
    width: 150%;
}
.mainrightplant{
        /* padding: 10px; */
    background-color: #ddd;
    width: 100%;
    /* position: relative; */
    z-index: 0;
    margin-top: -1rem;
   
}
.alllogobg{
    background-color: #ddd;
    width: 100%;
}
.boxcol{
    background-color: red;

}
.rightplantimg{
    width: 50%;
}